@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Josefin+Sans:300');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: #1d1f21;
}

a {
    text-decoration: none;
}

#global-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo-container {
    position: absolute;
    bottom: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4em 0em .5em 0em;
}

#logo {
    width: auto;
    height: 6rem;
    transition: .5s ease;
    margin-bottom: .5em;
}

#logo.inverted, #logo:hover {
    filter: invert(100%);
}

#logo.inverted:hover {
    filter: invert(0%);
}

#startpage {
    font-family: 'Josefin Sans', monospace;
    font-weight: 300;
    font-size: 3.5rem;
    color: #ffffff;
}

#search {
    width: 100%;
    height: 100vh;
    display: none;
    background: #1d1f21;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#search-field {
    width: 90%;
    height: auto;
    font-size: 4em;
    font-weight: 300;
    color: #ffffff;
    background-color: #1d1f21;
    border: solid 0px #1d1f21;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

#bookmark-card-container {
    width: 60%;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    grid-column: span 1;
    text-align: center;
}

.card > .card-inner-container > .card-item {
    font-size: 1.5em;
}

#help {
    position: absolute;
    right: 1%;
    bottom: 1%;
    font-size: .8em;
    font-weight: 300;
    color: #afafaf;
}

@media only screen and (max-width: 600px) {
    #global-container {
        width: auto;
        height: auto;
    }
    #logo-container {
        position: relative;
        top: 0;
    }
    #bookmark-card-container {
        width: 80%;
    }
    #help {
        position: relative;
        margin: 1em 0em;
    }
}

